@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}


/*Font*/
.main-header__title {
    font-weight: 800;
    line-height: 1;
    font-size: 2.6rem;
}

.main-header__link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    display:inline-block;
}

.main-header__title,
.trends-article h3 a {
    color: var(--very-dark-blue);
}

.nav-bar__links a,
.main-header__info p,
.trends-article h3 + p {
    color: var(--dark-grayish-blue)
}

.news h2 {
    color: var(--soft-orange);
}

.news-article p,
.trends-article p:first-child {
    color: var(--grayish-blue);
}

.trends-article p:first-child {
    font-size: 1.7rem;
    font-weight: 700;
}

.main-header__link,
.news-article h3 a {
    color: var(--off-white);
}

.main-header__info p,
.news-article p,
.trends-article h3 + p {
    line-height: 1.7;
}


/*Background*/
.news {
    background-color: var(--very-dark-blue);
}
.main-header__link {
    background-color: var(--soft-red);
}


/*margin and padding*/
.container {
    padding-block: 2em 5em;
}

header {
    margin-bottom: 2em;
}

.main-header__info p {
    margin-block: 1em 1.5em;
}

.main-header__link {
    padding: .9em 2.2em;
}

.news {
    padding: 1.3em 1.5em;
    margin-top: 4em;
}

.news-article {
    margin-top: 2em;
}

.news-article:nth-child(2),
.news-article:nth-child(3) {
    padding-bottom: 2em;
}

.news-article h3 {
    margin-bottom: .5em;
}

.trends {
    margin-top:3.5em;
}

.trends-article h3 + p {
    margin-bottom: .4em;
}


/*Layout*/
.container {
    width:90%;
    margin-inline: auto;
    max-width: 1100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: none;
}

.main-header {
    display: grid;
    grid-template-rows: 310px 1fr;
    gap:1.5em;
}

.trends {
    display: grid;
    gap:2em;
}

.trends > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5em;
}

.trends-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Other css*/
.main-header__backgroundImg {
    background-image: url("../assets/images/image-web-3-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-article:nth-child(2),
.news-article:nth-child(3) {
    border-bottom: 1px solid var(--dark-grayish-blue);
}


@media (min-width: 800px) {
    .main-header__backgroundImg {
        background-image: url("../assets/images/image-web-3-desktop.jpg");
    }
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}