@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*Font*/
.main-header__title {
    font-weight: 800;
    line-height: 1;
    font-size: clamp(2.6rem, 2rem + 2vw, 3.7rem);
}

.main-header__link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    display:inline-block;
}

.main-header__title,
.trends-article h3 a {
    color: var(--very-dark-blue);
}

.nav-bar__links a,
.main-header__info p,
.trends-article h3 + p {
    color: var(--dark-grayish-blue)
}

.nav-bar__links a {
    font-size: 1.2rem;
    color: var(--very-dark-blue);
}

.news h2 {
    color: var(--soft-orange);
}

.news-article p,
.trends-article p:first-child {
    color: var(--grayish-blue);
}

.trends-article p:first-child {
    font-size: 1.7rem;
    font-weight: 700;
}

.main-header__link,
.news-article h3 a {
    color: var(--off-white);
}

.main-header__info p,
.news-article p,
.trends-article h3 + p {
    line-height: 1.7;
}

.news h2 {
    font-size: clamp(28px,1.4rem + 1.4vw,2.3rem);
}


/*Background*/
.news {
    background-color: var(--very-dark-blue);
}


/*margin and padding*/
.container {
    padding-block: 2em 5em;
}

header {
    margin-bottom: 2em;
}

.main-header__info p {
    margin-block: 1em 1.5em;
}

.main-header__link {
    padding: .9em 2.2em;
}

.news {
    padding: 1.3em 1.5em;
    margin-top: 4em;
}

.news-article {
    margin-top: 2em;
}

.news-article:nth-child(2),
.news-article:nth-child(3) {
    padding-bottom: 2em;
}

.news-article h3 {
    margin-bottom: .5em;
}

.trends {
    margin-top:3.5em;
}

.trends-article h3 + p {
    margin-bottom: .4em;
}


/*Layout*/
.container {
    width:90%;
    margin-inline: auto;
    max-width: 1150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    visibility: hidden;
    position: absolute;
    right:0;
}

.nav-bar__links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.main-header {
    display: grid;
    grid-template-rows: 310px 1fr;
    gap:1.5em;
}

.trends {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    justify-content: center;
}

.trends > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5em;
}

.trends-article {
    display: flex;
    flex-direction: column;
    gap: .8em;
}


/*Other css*/
.main-header__backgroundImg {
    background-image: url("../assets/images/image-web-3-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-article:nth-child(2),
.news-article:nth-child(3) {
    border-bottom: 1px solid var(--dark-grayish-blue);
}

.retro-pc__img {
    background-image: url("../assets/images/image-retro-pcs.jpg");
}

.top-laptops__img {
    background-image: url("../assets/images/image-top-laptops.jpg");
}

.gaming__img {
    background-image: url("../assets/images/image-gaming-growth.jpg");
}

.retro-pc__img,
.top-laptops__img,
.gaming__img {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.nav-bar__links a,
.trends-article a,
.news-article a {
    transition: color .2s ease-in;
}

.main-header__link {
    position: relative;
}

.main-header__link::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: var(--soft-red);
    z-index: -20;
}

.main-header__link::before {
    content: "";
    position:absolute;
    display: block;
    width:0;
    left:0;
    top:0;
    height:100%;
    background-color: var(--very-dark-blue);
    transition: width .25s ease-out;
    display: block;
    z-index: -10;
}


/* hover state*/
.nav-bar__links a:hover,
.trends-article a:hover {
    color: var(--soft-red);
}

.news-article a:hover {
    color: var(--soft-orange);
}

.main-header__link:hover::before {
    width:100%;
}


/*CSS for the window that pops up when user clicks(touches) the hamburguer menu*/
.mobile-window {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all .3s ease-in-out;
}

.transparent-section {
    width:30%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    visibility: hidden;   
}

.nav-section {
    width:70%;
    height:100%;
    z-index: 10;
    background-color: white;
}

.close-icon {
    margin-top: 2.2em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}

.hideWindow {
    left:-100%;
}

.showWindow {
    right:0;
}

.showNavBar {
    visibility: visible;
    z-index: 20;
    top:25%;
    right: 35%;
}


@media (min-width: 800px) {
    header {
        margin-bottom: 3em;
    }

    .icon-menu {
        visibility: hidden;
        position: absolute;
    }

    .nav-bar {
        visibility: visible;
        position: static;
    }

    .nav-bar__links {
        flex-direction: row;
        gap: 2.5em;
    }

    .main-header__backgroundImg {
        background-image: url("../assets/images/image-web-3-desktop.jpg");
    }

    main {
        display: grid;
        grid-template-columns: 2.3fr 1fr;
        gap: 2em;
    }

    .main-header > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.8em;
    }

    .main-header__info p,
    .nav-bar__links a {
        font-size: 1rem;
    }

    .nav-bar__links a {
        color: var(--dark-grayish-blue);
    }

    .main-header__info p {
        margin-block: 0 1.5em;
    }

    .news {
        margin-top: 0;
    }

    .news-article h3 {
        font-size: 1.25rem;
    }

    .trends {
        grid-column: span 2;
    }
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}